/* Header */
header{
    background-color: #121212;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}


/* Logo */
header .logo{
    background-color: #e8e8e8;
    height: 64px;
    width: 64px;
    background: url(/assets/img/iconee.png) center center no-repeat;
    background-size: cover;
    border-radius: 20px;
}
/* Fim Logo */

/* Classe para abrir menu */
.menu-open{
    display: flex;
    animation-name: abrir;
    animation-duration: .4s;
    transition: all .4s ease;
    animation-timing-function: .4s;
}

/* Menu */
#menu .menu-lista {
    width: 100%;
    height: 50vh;
    padding: 10px;
    display: none; /* Esconde o menu por padrão */
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 5rem;
    left: 0;
    background-color: #131313;
    bottom: 0;
}

.menu-link {
    font-size: 26px;
    color: #969696;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.menu-link::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #1649ff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
}

.menu-link:hover::after {
    width: 100%;
}

.menu-link:hover {
    color: #f4f4f4;
    font-weight: 600;
}

@keyframes abrir {
   
    from {
        opacity: 0;
        transform: translateY(-20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
}


/* Menu Hambúrguer */

.hamburger {
  height: 50px;
  width: 50px;
  transform: 0.2s;
  position: relative;
}
.hamburger .checkbox {
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.line {
  transition: 0.5s;
  stroke-width: 6px;
  stroke: rgb(100, 100, 100);
}
.lineTop {
  stroke-dasharray: 40 40;
  stroke-dashoffset: 25;
}
.lineBottom {
  stroke-dasharray: 40 40;
  stroke-dashoffset: 60;
}
.lineMid {
  stroke-dasharray: 40 40;
}
.hamburger .checkbox:checked + svg .line {
  stroke: crimson;
}
.hamburger .checkbox:checked + svg .lineTop {
  stroke-dashoffset: 0;
  transform-origin: left;
  transform: rotateZ(45deg) translate(-7px, -5px);
}
.hamburger .checkbox:checked + svg .lineMid {
  stroke-dashoffset: 40;
}
.hamburger .checkbox:checked + svg .lineBottom {
  stroke-dashoffset: 0;
  transform-origin: left;
  transform: rotateZ(-45deg) translate(-5px, 5px);
}


  @keyframes animation1 {
    0% {
      transform: translateY(8px) rotate(0deg);
    }
    50% {
      transform: translateY(0px) rotate(0deg);
    }
    100% {
      transform: translateY(0px) rotate(45deg);
    }
  }
  @keyframes animation2 {
    0% {
      transform: translateY(-8px) rotate(0deg);
    }
    50% {
      transform: translateY(0px) rotate(0deg);
    }
    100% {
      transform: translateY(0px) rotate(-45deg);
    }
  }
  
/* Fim menu hambúrguer */