/* Footer */
footer{
    background-color: #f4f4f4;
}
/* Formulário */


.formulario{
    height: 900px;
    background-color: #f4f4f4;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.formulario h2{
    font-size: 28px;
    width: 430px;
    text-align: center;
}

form{
    height: 680px;
    padding: 13px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #1e1e1e;
}

form > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}


label{
    font-size: 24px;
    color: #eeeeee;
    font-weight: 600;
}

input{
    padding: 8px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 5px;
}

textarea{
    height: 200px;
    font-size: 18px;
    border: none;
    background-color: #121212;
    padding:10px;
    margin: 20px;
    border-radius: 10px;
}

#btn-enviar{
    background-color: #1649ff;
    font-size: 23px; 
    font-weight: bold;
    color: #eeeeee;
    padding: 10px;
}
/* Fim formulário */
/* Social media */
.social-media{
    height: 30vh;
    max-width: 100%;
    background-color: #121212;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.tittle-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    font-size: 20px;
    font-weight: 600;
    color: #eeeeee;
}

.tittle-footer img{
    height: auto;
    width: 44px;
    border-radius: 5px;
}

.container-social-media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
    font-size: 40px;
}

.container-social-media i{
    color: #545454;
    padding: 15px;
    background-color: #1e1e1e;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}

.container-social-media i:hover{
    background-color: #ebebeb;
    color: #1e1e1e;
}
/* Fim social media */

#dev-text{
    background-color: #121212;
    padding: 20px;
    height: 40px;
    text-align: center;
    color: #c7c7c7;
    font-weight: 700;
    font-size: 14px;
}