* {
  text-decoration: none;
  list-style: none;
  box-sizing: none;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #efefef;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body header {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #efefef;
  box-shadow: 3px 3px 10px rgba(41, 41, 41, 0.231372549);
}
body header .logo {
  height: 64px;
  width: 64px;
  background: url(./../img/icone.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
body header #btn-menu {
  position: relative;
  right: 61px;
  background: transparent;
  border: none;
  font-size: 40px;
  color: #292929;
  cursor: pointer;
  transition: all 0.5s ease;
}
body header #menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 70vw;
  color: #1e1e1e;
  height: 100vh;
  padding: 10px;
  background-color: #2e2e2e;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s;
}
body header #menu.open {
  opacity: 1;
  visibility: visible;
}
body header #menu #close-menu {
  font-size: 60px;
  transition: all 0.3s ease;
  border: none;
  color: red;
  cursor: pointer;
  background: transparent;
}
body header #menu .menu-lista {
  margin-top: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
body header #menu .menu-lista .menu-item .menu-link {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  width: 100%;
  color: #c5c5c5;
}
body header #menu .menu-lista .menu-item #btn-contato {
  background-color: #1649ff;
  width: 200px;
  padding: 15px;
  border-radius: 10px;
  font-size: 25px;
  color: #efefef;
}
body main #home {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
body main .img-perfil {
  height: 300px;
  width: 300px;
  background: url(./../img/Guilherme.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 56% 44% 48% 52%/53% 57% 43% 47%;
  box-shadow: 3px 3px 40px rgba(41, 41, 41, 0.4509803922);
}
body main h1 {
  text-align: center;
  font-size: 25px;
}
body main p {
  font-size: 18px;
}
body #sobre {
  height: 50vh;
  width: 100%;
  padding: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
body #sobre h2 {
  border-bottom: 3px solid #1649ff;
  font-size: 30px;
}
body #sobre p {
  font-size: 18px;
}
body #sobre .btn-social-media {
  display: inline-flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px;
}
body #sobre .btn-social-media button {
  width: 300px;
  padding: 8px;
  font-size: 18px;
  color: #efefef;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  transition: all 0.5s ease;
}
body #sobre .btn-social-media button:hover {
  transform: scale(1.1);
}
body #soft-skills {
  height: 50vh;
  width: 100%;
  padding: 5px;
  background-color: #2e2e2e;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
body #soft-skills h2 {
  font-size: 30px;
  color: #efefef;
  border-bottom: 3px solid #1649ff;
}
body #soft-skills .skills ul {
  height: 137px;
  width: 316px;
  position: relative;
  top: -52px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
body #soft-skills .skills li {
  font-size: 70px;
  color: #686767;
}
body #soft-skills .skills li .bxl-html5 {
  transition: all 0.5s ease;
}
body #soft-skills .skills li .bxl-html5:hover {
  color: orangered;
  transform: scale(1.1);
}
body #soft-skills .skills li .bxl-css3 {
  transition: all 0.5s ease;
}
body #soft-skills .skills li .bxl-css3:hover {
  color: #3662ff;
  transform: scale(1.1);
}
body #soft-skills .skills li .bxl-javascript {
  transition: all 0.5s ease;
}
body #soft-skills .skills li .bxl-javascript:hover {
  color: yellow;
  transform: scale(1.1);
}
body #soft-skills .skills li .bxl-sass {
  transition: all 0.5s ease;
}
body #soft-skills .skills li .bxl-sass:hover {
  color: #f836ce;
  transform: scale(1.1);
}
body #soft-skills .skills li .bxl-typescript {
  transition: all 0.5s ease;
}
body #soft-skills .skills li .bxl-typescript:hover {
  color: #1649ff;
  transform: scale(1.1);
}

#projetos {
  height: 100vh;
  width: 100%;
  padding: 10px;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
#projetos h2 {
  font-size: 35px;
  text-align: center;
}
#projetos .projeto img {
  height: auto;
  width: 400px;
}

/*# sourceMappingURL=style.css.map */
